<a href="https://colab.research.google.com/github/mysterious-Alchemist/sesac/blob/main/let's_do_it_second_rap_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#기본 출력

#하나만 출력합니다.
print("#하나만 출력합니다.")
print("Hello Python Programming")
print()

#여러 개를 출력합니다.
print("#여러 개를 출력합니다.")
print(10, 20, 30, 40, 50)
print("안녕하세요", "저의", "이름은", "연금술사입니다.")
print()

#아무것도 입력하지 않으면 단순하게 줄바꿈합니다.
print("#아무것도 출력하지 않습니다.")
print("---확인 전용선---")
print()
print()
print("---확인 전용선---")

#하나만 출력합니다.
Hello Python Programming

#여러 개를 출력합니다.
10 20 30 40 50
안녕하세요 저의 이름은 연금술사입니다.

#아무것도 출력하지 않습니다.
---확인 전용선---


---확인 전용선---

In [ ]:
#이스케이프 문자(\t)로 탭 사용하기

print("이름\t나이\t지역")
print("연금술사 25\t마포구")
print()

이름	나이	지역
연금술사 25	마포구

In [ ]:
#문자 선택 연산자와 결과 출력하기

print("문자 선택 연산자에 대해 알아볼까요?")
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

#뒤에서부터 선택하기

print("문자를 뒤에서부터 선택해 볼까요?")
print("안녕하세요"[-5])
print("안녕하세요"[-4])
print("안녕하세요"[-3])
print("안녕하세요"[-2])
print("안녕하세요"[-1])

문자 선택 연산자에 대해 알아볼까요?
안
녕
하
세
요
문자를 뒤에서부터 선택해 볼까요?
안
녕
하
세
요
요

In [ ]:
#원의 둘레와 넓이 구하기

#변수 선언과 할당
pi = 3.14159265
r = 10

#변수 참조
print("원주율 = ", pi)
print("반지름 = ", r)
print("둘레 = ", 2*pi*r)
print("넓이 = ", pi*r**2)

원주율 =  3.14159265
반지름 =  10
둘레 =  62.831853
넓이 =  314.159265

In [ ]:
#입력 자료형 확인하기

#입력을 받습니다.
string = input("입력> ")

#출력합니다.
print("자료:", string)
print("자료형:", type(string))

입력> d
자료: d
자료형: <class 'str'>

In [ ]:
#입력받고 더하기

#입력을 받습니다.
string = input("입력> ")

#출력합니다
string = input("입력 + 100 ", string+100)

입력> 100

TypeError: ignored

In [ ]:
#int()함수 활용하기

string_a = input("입력A> ")
int_a = int(string_a)

string_b = input("입력B> ")
int_b = int(string_b)

print("문자열 자료:", int_a + int_b)
print("문자형:", type(int_a+ int_b))

입력A> 37
입력B> 23
문자열 자료: 60
문자형: <class 'int'>

In [ ]:
#int()함수와 float() 함수 활용하기

output_a = int("52")
output_b = float("52.723")

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'int'> 52
<class 'float'> 52.723

In [ ]:
#int()함수와 float()함수 조합하기

input_a = float(input("첫 번째 숫자> "))
input_b = float(input("두 번째 숫자> "))

print("덧셈결과", input_a + input_b)
print("뺄셈결과", input_a - input_b)
print("곱셈결과", input_a * input_b)
print("나눗셈결과", input_a / input_b)

첫 번째 숫자> 3.14
두 번째 숫자> 2.23
덧셈결과 5.37
뺄셈결과 0.9100000000000001
곱셈결과 7.0022
나눗셈결과 1.4080717488789238

In [ ]:
#str()함수를 사용해 숫자를 문저열로 변환하기

output_a = str("52")
output_b = str("52.723")

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'str'> 52
<class 'str'> 52.723

In [ ]:
#inch 단위를 cm 단위로 변경하기

#숫자를 입력받습니다.
raw_input = input("inch 단위의 숫자를 입력해주세요.: ")

#입력받은 데이터를 숫자 자료형으로 변경하고 cm단위로 변경합니다.
inch = int(raw_input)
cm = inch * 2.54

#출력합니다.
print(inch, "inch는 cm단위로", cm, "cm입니다")

inch 단위의 숫자를 입력해주세요.: 3
3 inch는 cm단위로 7.62 cm입니다

In [ ]:
#format()함수로 숫자를 문자열로 변환하기

#format()함수로 숫자를 문자열로 변환하기
string_a = "{}".format(10)

#출력하기
print(string_a)
print(type(string_a))

10
<class 'str'>

In [ ]:
#format()함수의 다양한 형태

#format()함수로 숫자를 문자열로 변환하기
format_a = "{}만원".format(5000)
format_b = "파이썬 열공해서 첫 연봉 {}만원 만들기".format(3000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만원
파이썬 열공해서 첫 연봉 3000만원 만들기
3000 4000 5000
1 문자열 True

In [ ]:
#정수를 특정 칸에 출력하기

#정수
output_a = "{:d}".format(52)

#특정 칸에 출력하기
output_b = "{:5d}".format(52)
output_c = "{:10d}".format(52)

#빈칸을 0으로 채우기
output_d = "{:05d}".format(52)
output_e = "{:07d}".format(-52)
#앞에서부터 7칸을 차지, 맨 뒤에 ()를 넣고 나머지를 기호와 0으로 채움 


print("#기본")
print(output_a)
print("#특정 칸에 출력하기")
print(output_b)
print(output_c)
print("#빈칸을 0으로 채우기")
print(output_d)
print(output_e)

#기본
52
#특정 칸에 출력하기
   52
        52
#빈칸을 0으로 채우기
00052
-000052

In [ ]:
#기호 붙여 출력하기

#기호와 함께 출력하기
output_f = "{:+d}".format(+52)
output_g = "{:-d}".format(-52)
output_h = "{: d}".format(52)
output_i = "{: d}".format(52)

print("#기호와 함께 출력하기")
print(output_f)
print(output_g)
print(output_h)
print(output_i)

#기호와 함께 출력하기
+52
-52
 52
 52

In [ ]:
#조합해보기

#조합하기
output_h = "{:+5d}".format(52)
output_i = "{:+5d}".format(-52)
output_j = "{:=+5d}".format(52)
output_k = "{:=+5d}".format(-52)
output_l = "{:+05d}".format(52)
output_m = "{:+05d}".format(-52)
#=는 기호를 앞으로 밀기


print("#조합하기")
print(output_h)
print(output_i)
print(output_j)
print(output_k)
print(output_l)
print(output_m)

#조합하기
  +52
  -52
+  52
-  52
+0052
-0052

In [ ]:
#다양한 형태의 부동 소수점 출력하기

output_a = "{:f}".format(52.273)
output_b = "{:15f}".format(52.273) #15칸 만들기
output_c = "{:+15f}".format(52.273) #15칸에 부호 추가하기
output_d = "{:+015f}".format(52.273) #15칸에 부호 추가하고 0으로 채우기

print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273000
      52.273000
     +52.273000
+0000052.273000

In [ ]:
#소수점 아래 자릿수 지정하기

output_a = "{:15.3f}".format(52.273)
output_b = "{:15.2f}".format(52.273)
output_c = "{:15.1f}".format(52.273)
#15칸을 잡고 소수점 아래 n칸 출력

print(output_a)
print(output_b)
print(output_c)

         52.273
          52.27
           52.3

In [ ]:
#의미 없는 소수점 제거하기

output_a = 52.0
output_b = "{:g}".format(output_a)
print(output_a)
print(output_b)

52.0
52

In [ ]:
#대소문자 바꾸기:upper()와 lower()

a = "Hello" 
print(a.upper())
print(a.lower())

HELLO
hello

In [ ]:
#문자열 양옆의 공백 제거하기:strip()

input_a = """
        인녕하세요.
문자열의 함수를 알아봅시다.
"""

print(input_a)
print(input_a.strip())

        인녕하세요.
문자열의 함수를 알아봅시다.

인녕하세요.
문자열의 함수를 알아봅시다.

In [ ]:
#문자열의 구성 파악하기:isOO()

print("TrainA10".isalnum())
#알파벳과 숫자만으로 구성이 되어있는가

print("19".isdigit())
#숫자만으로 구성되어있는가

True
True

In [ ]:
#문자열 찾기:find()와 rfind()

output_a = "안녕안녕하세요"

print(output_a.find("안녕"))
print(output_a.rfind("안녕"))

0
2

In [ ]:
#문자열과 in 연산자

print("안녕" in "안녕하세요")

print("잘자" in "안녕하세요")

True
False

In [ ]:
#문자열 자르기:split()

a = "10 20 30"

print(a)
print(a.split(" "))

10 20 30
['10', '20', '30']

In [ ]:
#not 연산자 조합하기

x = 10
under_20 = x < 20 # under_20 = (x < 20)
print("under_20:", under_20)
print("not under_20:", not under_20)

under_20: True
not under_20: False

In [ ]:
#조건문의 기본 사용

#입력을 받습니다.
number = input("정수입력> ")
number = int(number)

#양수 조건
if number > 0:
    print("양수입니다.")

#음수 조건
if number < 0:
    print("음수입니다.")

#0 조건
if number == 0:
    print("0입니다.")

정수입력> 3
양수입니다.

In [ ]:
#날짜/시간 출력하기

#날짜 시간과 관련된 기능을 가져옵니다.
import datetime

#현재 날짜/시간을 구합니다.

now = datetime.datetime.now()

#출력합니다
print(now.year, "년")
print(now.month, "월")
print(now.day, "일")
print(now.hour, "시")
print(now.minute, "분")
print(now.second, "초")

2022 년
9 월
4 일
17 시
11 분
3 초

In [ ]:
#날짜 시간을 한 줄로 출력하기

#날짜 시간과 관련된 기능을 가져옵니다.
import datetime

#현재 날짜/시간을 구합니다.

now = datetime.datetime.now()

#출력합니다
print("{}년 {}월 {}일 {}시 {}분 {}초".format(
    now.year,
    now.month,
    now.day,
    now.hour,
    now.minute,
    now.second,
))

2022년 9월 4일 17시 13분 7초

In [ ]:
#오전과 오후를 구분하는 프로그램

#날짜 시간과 관련된 기능을 가져옵니다.
import datetime

#현재 날짜/시간을 구합니다.
now = datetime.datetime.now()

#오전 구분
if now.hour < 12:
    print("현재 시각은 {}시로 오전입니다.".format(now.hour))

#오후 구분
if now.hour >= 12:
    print("현재 시각은 {}시로 오후입니다.".format(now.hour))

현재 시각은 17시로 오후입니다.

In [ ]:
#계절을 구분하는 프로그램

#날짜 시간과 관련된 기능을 가져옵니다.
import datetime

#현재 날짜/시간을 구합니다.
now = datetime.datetime.now()

#봄 구분
if 3 <= now.month <= 5:
    print("이번 달은 {}월로 봄입니다.".format( now.month))

    
#여름 구분
if 6 <= now.month <= 8:
    print("이번 달은 {}월로 여름입니다.".format( now.month))
    
#가을 구분
if 9 <= now.month <= 11:
    print("이번 달은 {}월로 가을입니다.".format( now.month))

    
#겨울 구분
if 12 <= now.month <= 2:
    print("이번 달은 {}월로 겨울입니다.".format( now.month))

이번 달은 9월로 가을입니다.

In [ ]:
#끝자리로 짝수와 홀수 구분
number = input("숫자를 입력하세요.> ")

#마지막 자리 숫자 추출
number_l = number[-1]

#정수형으로 변환
number_li = int(number_l)

#짝수인 경우
if number_li % 2 == 0:
    print("짝수입니다.")

#홀수인 경우
else:
    print("홀수입니다.8")

숫자를 입력하세요> 300
짝수입니다

In [ ]:
#in 문자열 연산자를 활용해서 짝수와 홀수 구분
number = input("숫자를 입력하세요.> ")

#마지막 자리 숫자 추출
number_l = number[-1]

#작수 조건
if number_l in "02460":
    print("짝수입니다.")

#홀수 조건
if number_l in "13579":
    print("홀수입니다.")

숫자를 입력하세요.> 83759823754987
홀수입니다.

In [ ]:
#계절 구하기

#날짜 시간과 관련된 기능을 가져옵니다.
import datetime

#현재 날짜/시간을 구하고
#쉽게 사용할 수 있게 월을 변수에 저장합니다.
now = datetime.datetime.now()
month = now.month

if 3 <= month <= 5:
    print("이번 달은 {}월로 봄입니다.".format(month))
elif 6 <= month <= 8:
    print("이번 달은 {}월로 여름입니다.".format(month))   
elif 9 <= month <= 11:
    print("이번 달은 {}월로 가을입니다.".format(month))   
else:
    print("이번 달은 {}월로 가을입니다.".format(month))

이번 달은 9월로 가을입니다.

In [ ]:
#유머를 조건문으로 구현하기

#변수를 선언합니다
score = float(input("학점을 입력하세요.> "))

#조건문을 적용합니다
if score == 4.5:
    print("신")
elif 4.2<= score < 4.5:
    print("교수님의 사랑")
elif 3.5<= score < 4.2:
    print("현 체제의 수호자")

In [ ]:
#유머를 조건문으로 구현하기_2

#변수를 선언합니다
score = float(input("학점을 입력하세요.> "))

#조건문을 적용합니다
if score == 4.5:
    print("신")
elif 4.2 <= score:
    print("교수님의 사랑")    
elif 3.5<= score:
    print("현 체제의 수호자")

In [ ]:
#false로 변환되는 값

print("#if 조건문에 0 넣기")
if 0:
    print("0은 True로 변환됩니다.")
else:
    print("0은 False로 변환됩니다.")    
    print()

print("#if 조건문에 빈 문자열 넣기")
if "":
    print("빈 문자열은 True로 변환됩니다.")
else:
    print("빈 문자열은 False로 변환됩니다.")

#if 조건문에 0 넣기
0은 False로 변환됩니다.

#if 조건문에 빈 문자열 넣기
빈 문자열은 False로 변환됩니다.

In [ ]:
#나중에 구현하려고 비워 둔 구문

#입력을 받습니다.
number = int(input("정수 입력> "))

#조건문 사용
if number > 0:
    #양수일 때: 아직 미구현 상태입니다
else:
    #음수일 때: 아직 미구현 상태입니다.

IndentationError: ignored

In [ ]:
#나중에 구현하려고 비워 둔 구문

#입력을 받습니다.
number = int(input("정수 입력> "))

#조건문 사용
if number > 0:
    #양수일 때: 아직 미구현 상태입니다
    pass
else:
    #음수일 때: 아직 미구현 상태입니다.
    pass

정수 입력> 2

In [ ]:
list_a = [1, 5, "a"]

AttributeError: ignored